footer {
    position: relative;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    border-style: solid;
    border-color: black;
    border-left: 0;
    border-right: 0;
}


p{
    min-height: 100%; 
    min-width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none !important;
    color: black !important;
}

#title {
    font-size: 6pc;
    text-align: center;
}

table, tr, td {
    border-style: solid;
    border-color: black;
}

#headlines {
    min-width: fit-content;
    font-size: 4pc;
    margin-left: 5%;
}

#latestproject {
    margin-top: 0 !important;
    border-top: 0 !important;
    border-bottom: 3px solid black !important;
}

section {
    margin-top: 3pc;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#aboutme {
    border: 2px solid black;
    width: min-content;
}

#skills {
    border-right: 2px solid black;
}

#languages {
    border-bottom: 2px solid black;
}

#volunteer {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#learn {
    border-right: 2px solid black;
}

#projects {
    border-bottom: 0;
    margin-bottom: 20px;
}

/* images modal css region start*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: max-content; /* Full width */
    height: max-content; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* image modal region end */