footer {
    position: relative;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    border-style: solid;
    border-color: black;
    border-left: 0;
    border-right: 0;
}


p{
    min-height: 100%; 
    min-width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none !important;
    color: black !important;
}

#title {
    font-size: 6pc;
    text-align: center;
}

table, tr, td {
    border-style: solid;
    border-color: black;
}

#headlines {
    min-width: fit-content;
    font-size: 4pc;
    margin-left: 5%;
}

#latestproject {
    border-bottom: 3px solid black;
}

#threeD {
    margin-top: 3pc;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#digital {
    margin-top: 3pc;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#aboutme {
    border: 2px solid black;
    width: min-content;
}
